﻿
@{
    ViewBag.Title = "aktiviteler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Aktiviteler</title>
    <style>
        .aktıvıte
        {
            text-align:center;
            color:red;
        }
        .baslıklar
        {
            color:purple;
            height:50px;
            background-color:#FFCCFF;
            text-align:center;
            font-size:30px;
        }
    </style>
</head>
<body>
    <h1>--------------------------------------------------------------------------------------</h1>
    <center>
        <img src="/WebImage/cocuk" />
    </center>
    <h1>---------------------------------------------------------------------------------------</h1>
    <br />
    <br />
    <br />
    <br />
    <div class="aktıvıte">
        <h1>AKTİVİTELER</h1>
    </div>
    <br />
    <div class="row">
        <h4 class="baslıklar">BEDENSEL AKTİVİTELER</h4>
       <center>
           <img src="/WebImage/bedensel" />
       </center>
        <p>
            Fiziksel aktivite, günlük yaşam içerisinde kas ve eklemlerimizi kullanarak enerji tüketimi ile gerçekleşen, kalp ve solunum hızını arttıran ve farklı şiddetlerde yorgunlukla sonuçlanan aktiviteler olarak tanımlanabilir.
           <br /> --Yürüme
            <br /> --Koşma
            <br /> -- Sıçrama
            <br /> --Yüzme
            <br /> --Bisiklete binme
            <br />-- Çömelme kalkma
            <br /> --Kol ve bacak hareketleri
            <br /> --Baş ve gövde hareketleri vb.

            temel vücut hareketlerinin tümünü yada bir kısmını içeren çeşitli spor dalları, dans, egzersiz, oyun ve gün içerisindeki aktiviteler fiziksel aktivite olarak kabul edilebilirler.
    <       <br /><b>ÇOCUKLAR İÇİN DÜZENLİ FİZİKSEL AKTİVİTE NEDEN ÖNEMLİDİR?</b>
            <br />Çocukluk çağından itibaren düzenli aktivite alışkanlığı kazandırmak, egzersizi günlük yaşamın vazgeçilmez bir parçası haline getirmek ve en azından her birey için günlük bedensel aktivite miktarını arttırmak bireysel sağlığımızın korunması ve ileride karşılaşılacak sağlık tehditlerinin azaltılması konusunda oldukça büyük öneme sahiptir. Günümüzde özellikle büyük şehirlerde yaşayan çocuklarımızda fiziksel aktivite yetersizliği giderek artmaktadır. Çocuklar ev içinde TV veya bilgisayar başında daha fazla zaman geçirmekte, yeterli yeşil alanların olmaması, trafik, güvenlik vb. nedenlerle ev dışına fazla çıkamamaktadırlar. Yaşam döngüsü boyunca en aktif dönem olarak yaşanılan çocukluk çağında bile özellikle büyük şehirlerde yaşayan çocuklarımız olumsuz çevresel koşullar nedeniyle yeterince aktif olamamaya başlamışlardır. Bu nedenle çocuklarımıza düzenli fiziksel aktivite alışkanlığı kazandırmak, onların sağlıklı büyüme ve gelişmelerini desteklemek için çok önemlidir.
            <br /><b>Düzenli fiziksel aktivite</b>
            <br />**Kasların kuvvetini, esnekliğini, dayanıklılığını dolayısıyla kas-iskelet sisteminin sağlıklı olarak gelişmesini sağlar.
            <br />** Vücut ağırlığının dengede tutulmasını sağlar.
            <br />**Kalp-damar sağlığını geliştirir.
            <br />**Kendine güveni artırır, özgüveni geliştirir.
            <br />**Zihinsel gelişimi sağlar.
            <br />** Motor becerileri geliştirir.
            <br />**Başarılabilen hedeflerin kurulması ve desteklenmesinde çocuklara olanak verir. Sağlık ve fiziksel uygunluk için öğrencinin sorumluluğunun gelişimini kolaylaştırır.
            <br />**Sınav, ödev. vb stresin azalmasına yardımcı olur.
            <br />**Sosyal ortamlara uyum sağlamasına yardımcı olur.

        </p>
    </div>
    <div class="row">
        <h4 class="baslıklar">ZİHİNSEL AKTİVİTELER</h4>
        <center>
            <img src="/WebImage/zıhınsel" />
        </center>
        <p>
            <b>Neler Yapabilirsiniz?</b><br />

            <br />•Çocuklarla konuşurken konuşmalarınızda çeşitli kavramların geçmesine özen gösterin. (aşağı, yukarı, dolu, boş...)
            <br />•Hayellerini kullanabileceği etkinlikler oluşturun.
            <br />•Beraber deneyler yapın.(Tübitak kitaplarına başvurabilirsiniz)
            <br />•Kolay bir tekerlemeyi veya şiiri günlük olarak çocuğunuzla beraber tekrarlayın.Onun öğrenmesi sağlayın.
            <br />•Her sabah onunla yeni gün hakkında konuşun, o gün için neler planladığını sizinle konuşmasına izin verin.
            <br />•Çocuğunuza her gün kitap okuyun ve sonrasında okuduklarınız hakkında tartışın.
            <br />•Çocuğunuza çeşitli konular hakkında fikrini sorun.(bana bugün ne pişirmemi tavsiye edersin?)
            <br />•Onunla beraber sayı sayın.Her fırsatta sayılarla ilgili sorular sorun.(elinde kaç tane sakız var?)
            <br />•Beraber resim yapın ve yaptıklarınız hakkında konuşarak fikirlerinizi paylaşın.
            <br />•Beraber müzik dinleyin ve ona müzik dinlerken neler hissettiğini sorun.
            <br />•Günlük işleri beraber yapın.Böylece çocuğunuza hem sorumluluk almayı hem de yardımlaşmayı öğretmiş olursunuz.
            <br />•Kolay bulmacalar veya zeka oyunları alın ve ona bu oyunlarla nasıl oynaması gerektiğini gösterin.
            <br />•Ona karışık halde bulunan nesneleri verin ve ayırmasını isteğin.
            <br />•Beraber yemek pişirebilirsiniz.Hangi yemeği yapacağınız hakkında konuşun, sonra onunla birlikte alış-veriş yapın, yemeği yapmadan önce çocuğunuz için şekillerden oluşmuş bir tarif listesi hazırlayın (mesela kaşık ve şeker şekli çizin ve yanına da 2 sayısını yazın, bu, pişireceğiniz şeye 2 kaşık şeker konulması gerektiğini anlatsın)
            <br /> •Lego veya bloklarla oynamasına yardımcı olun, çünkü bu oyuncaklar çocukların yer-yön kavramını öğrenmelerine destek olur.
            <br /> •Karşılaştırma yeteneğini geliştirmesi için onlara çeşitli oyunlar alın.(çeşitli kart oyunları, tombala gibi...)

            <br /> Sıralanan bu noktaların hepsi çocuğunuzun zihinsel gelişimini olumlu yönde etkileyecek aktivitelerdir.Ancak bu aktiviteleri yaparken dikkat edilmesi gereken en önemli nokta, ona yapıcı eleştirilerde bulunmak ve onu yaptıklarından ötürü takdir etmek. Yrd.Doç. Dr. Kızıltepe bunu önemle vurguluyor ve çocukla beraberken ona “aferin” , “çok iyi düşündün”, “harika bir fikir” , “ne güzel fikirlerin var” gibi çeşitli olumlu pekiştireçler vermenizi tavsiye ediyor. 
        </p>
    </div>
    <div class="row">
        <h4 class="baslıklar">EL BECERİSİ AKTİVİTELERİ</h4>
        <center>
            <img src="/WebImage/elbecerı" />
        </center>
        <p>
            <b> Çocuğunuzun el becerilerini geliştirmek için aktivite önerileri</b>

            <br />** El kaslarını güçlendirmek için çocuğunuza el işi malzemeleri, çocuk makası, tutkal ve oyun hamuru verin.
            <br />** Çizmiş olduğunuz şekilleri çocuğunuzun makas yardımıyla kesmesini isteyin.
            <br />**  Çocuğunuzun şekilli cetvel yardımıyla çizdiği şekilleri keserek bir kolaj çalışması yapmasına destek verin.
            <br />**  Çocuğunuzdan hikaye anlatan resimler çizmesini isteyin, resimleri hakkında sorular sorarak duygu ve düşüncelerini anlamaya çalışın.
            <br />**   Çocuğunuzun resimlerinin üzerine adını yazıp herkesin görebileceği yerlere asın. Alacağı övgüler kendine güvenini artıracağı için daha fazla resim yapmak isteyecektir.
            <br />**  Çocuğunuz resimlerini saklamak isterse üzerinde isminin yazılı olduğu bir kutu verin ve bu kutuya resimlerini koyarak saklaması için ona verin.
            <br />**Kullanılmış tuvalet kağıdı rulosu, yoğurt kabı, eski kutular gibi atılacak malzemeleri çocuğunuzun el becerilerini geliştirmek için kullanabileceği malzemeler haline getirin.
            <br />** Çocuğunuzla birlikte patates baskısı yapın.
            <br />** Çocuğunuzla birlikte kağıdı ikiye, dörde, sekize katlayıp geri açın. Farklı şekiller ve hayvan figürleri yapın. Bunları daha sonra büyük bir kağıda teşhir amaçlı yapıştırın.
            <br />** Oyun hamurundan küçük yuvarlak boncuklar yapın, kürdan yardımıyla ortalarında bir delik açıp bunları boyayın. Kuruması için 2-3 gün beklettikten sonra çocuğunuzla birlikte bunları bir ipe dizin, bileklik ve kolyeler yapın. (Küçük makarna parçalarını boyayarak boncuk olarak kullanabilirsiniz.
            <br />**Çocuğunuzun ismini bir kartona yazarak her harfin üzerinde delikler açın. Çocuğunuza vereceğiniz bir ipi harflerin içinden geçirmesini isteyin.
            <br />** hamurlarını kullanarak çocuğunuzla birlikte kare, üçgen, dikdörtgen, daire gibi şekiller yapın.
        </p>
    </div>
</body>
</html>

