﻿
@{
    ViewBag.Title = "Anneme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Anneme</title>
    <style>
      .anne{
          color:red;
          text-align:center;
      }
      .baslıklar{
          color:purple;
      }
     .col-md-8{
         font-family:Cambria;
         margin-right:25px;
         margin-right:25px;
     }
    </style>
    
</head>
<body>
    <h1>--------------------------------------------------------------------------------------</h1>
    <div class="resim">
        <center>
            <img src="/WebImage/resim" />
        </center>
        <h1>---------------------------------------------------------------------------------------</h1>
    </div>
    <br />
    <br />
    <div class="anne">
        <h1>ANNEME DAİR</h1>
    </div>
    <br />
    <h4 class="baslıklar">***BESLENME***</h4>
    <div class="row">
        
            <div class="col-md-4">
                <center>
                    <img src="/WebImage/annebeslenme" />
                </center>
                <div class="col-md-8">
                    <p>
                        Gebelik öncesi ve gebelik döneminde yetersiz ve dengesiz beslenme, anne açısından doğum risklerini beraberinde getirirken, gebelik zehirlenmesi ve anne ölümlerine yol açar. Bebeklerde ise fiziksel ve zihinsel gelişim geriliğine, hastalıklara yakalanma riskinde önemli oranda artışa ve ölü doğuma zemin hazırlamaktadır. Anne adayının uzun süreli yetersiz ve dengesiz beslenmesi, anne ve bebek ölümlerine yol açmaktadır. Gebelik öncesi ve gebelik döneminde beslenme, hem anne hem de doğacak bebeğin sağlığını önemli oranda etkilemektedir. Her gün en az 2 su bardağı kadar süt veya yoğurt tüketilmelidirler.
                        Bu besinlerin yerine 2-3 kibrit kutusu kadar peynir veya 1-2 kaşık çökelek tüketmeleri de yararlı olacaktır. Çiğ süt ve bundan yapılan peynirler zararlı mikropları içerdiğinden pastörize süt ve bu sütlerden yapılan peynirler tercih edilmelidir. Yine anne adayları normal zamanda yediklerine ek olarak bir adet yumurta veya yumurta kadar et, tavuk, balık tüketmelidir. Bu besinler tüketilemiyorsa kurubaklagil yemekleri, mercimekli veya nohutlu çorbaların tüketilmesine özen gösterilmelidir. Vitaminler açısından zengin olan taze sebze ve meyveler her öğünde düzenli olarak tüketilmelidir. Azar azar ve sık aralıklarla beslenilmeli, uzun süre aç kalınmamalıdır.
                    </p>
                </div>
        </div>
    </div>
    <br />
    <h4 class="baslıklar">***SPOR***</h4>
    <div class="row">
        <div class="col-md-4">
            <center>
                <img src="/WebImage/annespor" />
            </center>
        </div>
        <div class="col-md-8">
            <p>
                Egzersiz yapan anne adaylarında gebeliğe bağlı şikayetler (uykusuzluk, belağrıları, bacaklarda kasılmalar, varis, basur gibi) daha az görülür. Gebelikte düzenli yapılan egzersiz sezeryanla doğum riskini azaltır, annenin doğum sonrası "toparlanma ve kendine gelme" süresini kısaltır ve nihayet doğum sonrası daha kolay kilo vermesine önemli katkılarda bulunur.
                Gebelik dönemlerinde egzersiz yapan anne adaylarının bebeklerinin beyin gelişimlerinin daha "iyi" olduğuna dair az sayıda yayın olmakla birlikte bu yayınların sayısı ve incelenen olgu sayısı bu konuda bir yorum getirebilmek için yeterli değildir.Gebelikte uygulanabilecek egzersiz türleri ve günlük uygulama miktarı her anne adayı için farklıdır.
                Profesyonel sporcu anne adayları, düzenli spor yapmaya alışkın olan anne adayları, gelişigüzel spor yapan anne adayları, hiçbir şekilde spora vakit ayırmayan anne adayları ve yüksek risk faktörleri taşıyan anne adayları için yapılacak egzersizin nitelikleri önemli farklılıklar gösterir.
                Genel olarak söylemek gerekirse belli kurallara uyulduğunda her anne adayının kendine uygun olan egzersizler olduğunu söyleyebiliriz.
                </p>
                <p>
                    <b>Yürüme, hızlı yürüme:</b> Yürüme ve vücudu zorlamadan hızlı adım yürüme gebelik için en uygun olan egzersiz olarak kabul edilebilir. İlk kez gebelik döneminde egzersiz yapmaya karara vermiş bir anne adayı için en güvenli egzersiz türü yürümedir.<br />
                    <b>  Yüzme:</b> Gebelikte yapılabilecek en iyi sporlardan biri de yüzmedir. Suyun belli bir kaldırma gücü olduğundan anne adayını zorlamayan bir spor türüdür. Yüzme, tüm vücut kaslarını çalıştıran ve geliştiren bir spordur. Yine nabız dakika sayısı ve rahat nefes alabilme gibi konulara dikkat ederek yüzme sürenizi ve hızınızı ayarlayabilirsiniz.
                Yüzmek için havuzlardan faydalanabileceğiniz gibi denizden de faydalanabilirsiniz. Dikkat etmeniz gereken yüzeceğinizi suyun temiz olmasıdır (havuz iyi klorlanmış olmalı, deniz ise yetkli kurumlarca bakteriyolojik değerlendirmesi yapılmış bir deniz olmalıdır). Suyun ılık olması önemlidir.
                Yaralanma riski ve karnınızın üstüne düşme riski nedeniyle suya atlamaktan kaçınmalı ve uzun süre nefessiz kalarak suyun dibinden gitme gibi aktivitelerden gebelik döneminde kaçınmalısınız.<br />
                    <b> Jogging ("yavaş tempolu koşu"):</b> Gebelikte yürüme gibi koşma da iyi bir spordur. Dikkat etmeniz gereken koşu esnasında rahat ve mevsime uygun kıyafetler giymek, nabız ve solunumunuza göre koşma hız ve sürenizi iyi bir şekilde ayarlamaktır. Koşu için özellikle yaz aylarında güneşin etkinliğinin nispeten daha az olduğu sabah veya akşam saatlerini tercih etmeli ve koşma parkurunuzun fazla engebeli ve düzensiz olmamasına dikkat etmelisiniz. Engebeli parkurlar ayağınızın takılarak düşme riskinizi artırır. Gebelik öncesinden koşu yapmaya alışkın değilseniz başlangıcı gebelikte yapmanız uygun sayılmaz. Bu durumda koşu yerine uzun mesafeli hızlı yürüyüşleri tercih edebilirsiniz.<br />
                    <b>  Bisiklete binme:</b> Özellikle birinci trimester (ilk üç aylık dönem) sonrasında ev dışında bisiklete binme uygun olmayabilir. Anne adayının gebeliğin etkilerine bağlı olarak bisiklet üzerindeyken dengesini kaybetme riski artar. Bunun yerine evinizde iyi havalandırılmış bir odada ev bisikleti ile düzenli pedal çevirerek egzersiz yapabilirsiniz. Birçok ev bisikletinde nabız ölçmeye yarayan bir alet de mevcuttur. Bununla düzenli olarak nabzınızı kontrol ederek egzersiz yoğunluğunuzu ve süresini ayarlayabilirsiniz. Ev bisikleti kullanırken de her egzersizde olduğu gibi öncesinden ısınmayı ve egzersizi bitirirken birden değil yavaş yavaş bitirmeye özen göstermelisiniz.<br />
                    <b>Pilates ve Yoga:</b> Hamilelik döneminde pilates ve yoga yaptırma konusunda deneyimli eğitmenler gözetiminde yapılabilir.
            </p>
        </div>
    </div>
    <br />
    <h4 class="baslıklar">***PSİKOLOJİK YAPI***</h4>
    <div class="row">
        <div class="col-md-4">
            <center>
                <img src="/WebImage/annepsıkolojı" />
            </center>
        </div>
        <div class="col-md-8">
            <p>
                <b>  Majör Depresyon –Gebelik ve Doğum Sonrası Depresyonu: </b>Bebek depresyonu olarak bilinen ve sıkgörülen bu ruhsal rahatsızlık, annenin ve çocuğunun yaşamlarını ciddi şekildeetkileyebilir. Hamile kadınların neredeyse yüzde 10’unu etkileyerek anne vefetüs için bir risk oluşturur. Doğum sonrası depresyon olarak bilinen sorun,bebeğin doğumundan sonra başlar ve sonrasında daha da kötüleşebilir. Hamileliksırasında hormon seviyelerindeki ani bir yükseliş veya ruh hallerini belirleyenbeyin kimyasalları seviyesindeki bir değişim, depresyonu tetikleyenfaktörlerdir. Bunların herhangi birindeki bir bozulma depresyona yol açabilir.Depresyonun diğer sebepleri, strese yol açan yaşam olayları, mali sorunlar veyaailede bir ölüm olabilir.   <br />
                <b>  Klinik Ruhsal Bozukluklar:</b>Hamilelik sırasında ve bebeğin doğumunun akabinde genelde altı aydan birseneye kadar değişen bir zaman içinde oluşabilirler ve çoğunlukla tedavigerektirirler. Genelde depresyon olarak bilinen kaygı bozuklukları, panik atak,hiperventilasyon ve obsesif kompulsif bozukluk ile nitelendirilir. Anne tekrarlayanşekilde bebeğinin başına gelen korkutucu şeylerin düşüncesini veyagörüntülerini yaşıyor olabilir.    <br />
                <b>Doğum Sonrası Psikoz:</b>Genelde bebeğin doğumunun ilk birkaç haftası içinde oluşan doğum öncesi ruhsalhastalığın en aşırı formudur ve acil tıbbi müdahale gerektirir. Annelikdepresyonunun bu formu kötü bir doğuma hatta bebeğin kaybına bile yol açabilir.
                Hamilelik sırasında psikotropik ilaçların etkisi henüz doğrulanmazken,hamilelik sırasında ve sonrasında tedavi edilmeyen psikiyatrik hastalıklarlailişkili riskler göz önüne alınmalı ve gerekli tedavi sağlanmalıdır. Hamileliksırasında psikolojik sorunların en iyi tedavilerinden biri psikoterapidir.Psikoterapi yalnızca anne ve bebeği için tümüyle güvenli ve sağlıklı olmaklakalmayıp, aynı zamanda depresyonun temelinde yatan sebepleri öğrenmek için deişe yarar ve üzüntü, suçluluk ve değersizlik hisleri ile mücadele etmedeyardımcı olur. Antidepresan, ruh hali düzenleyicileri veya kaygılanmayıönleyici ilaçları almadan önce bir sağlık uzmanına danışmanız tavsiye olunur.Ruh sağlığı ve hamilelik anne ve çocuğun esenliği ile eş anlamlı olduğundan,annelerin bu yaygın ruhsal bozukluk ile mücadele etmek için bir tedavi planıoluşturmaları gerekir.
            </p>
        </div>
    </div>
    <br />
</body>
</html>

