﻿@model webprogramlamaodevi.Models.giris

@{
    ViewBag.Title = "girisyap";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Giriş Yap</title>
</head>
<body>
    <h2>girisyap</h2>
    @using (Html.BeginForm())
    {
        <p>EPOSTA: @Html.TextBoxFor(X => X.Eposta)</p>
        <p>ŞİFRE: (@Html.TextBoxFor(X => X.Sifre)</p>

        <input type="submit" value="GİRİŞ YAP" />


    }

</body>
</html>

