﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Ana Sayfa</title>
    <style>
        .col-md-4 {
            width: 25.55555555555555%;
            float: left;
            margin-left: 10px;
            font-family:Cambria;
        }

        .h4 {
            color: red;
        }

        .footer {
            width: 1300px;
            height: 60px;
            background-color: #CCFFFF;
            margin: auto;
            text-align: end;
            float:left;
        }
    </style>

</head>
<body>
    <div>
        <h1>--------------------------------------------------------------------------------------</h1>
        <center>
            <img src="/WebImage/resimgoruntule" />
        </center>
        <h1>---------------------------------------------------------------------------------------</h1>
        <br />
        <br />


        <div class="row">
            <div class="col-md-4">
                <h4>ANNEMİZ İÇİN..</h4>
                <p>
                    Annemiz bizi dünyaya getiren yaşamı boyunca da bizim en büyük destekçimiz olan bir bakıma hayatınızdaki mucizedir.
                    <br />
                    Ağlarsa anam ağlar gerisi yalan ağlar atasözünden de anlaşıldığı gibi hayatımıza giren-çıkan yüzlerce insan vardır. Fakat hangisi bizi annemiz gibi koruyup kollayıp aynı zamanda da sevgisini ve şefkatini gösterebilir? Ya da o insanın kendince tanımladığı sevgi kavramı anne sevgisinin ne kadar yakınından geçebilir?
                    Annenin sevgisi ve bu anne sevgisini çocuğun hissedebilmesi o kadar önemlidir ve o kadar özel bir duygudur ki bu özel duyguyu da tek bir güne sığdırma çabası boştur bence. Annemiz tüm hayatı boyunca bizi zaten koşulsuz düşünmüştür. Biz neden 365 gün içinden sadece bir günü annemize ayırmışız? Sadece bu gün değil de her gün annemize onu sevdiğimizi hissettirelim.
                </p>
            </div>
            <div class="col-md-4">
                <h4>ÇOCUĞUMUZ İÇİN..</h4>
                <p>Dünyanın en güzel duygusu bir çocuk sahibi olmak. Çocuk gibi düşünmek, çocuk gibi gülmek, bir çocuğu çok değerli bir cevheri işler gibi milim milim işlemek. Her şeyden daha fazla değer verilmelidir o masum varlıklara. Savunmasız, sizden yardım bekler gibi gözünüzün içine bakıp sevgi, şefkat bekleyen o minik yüreklere. Onlara verilen emek, onlara duyulan saygı ve kendilerine verilen emek inanın bir gün bir çiçek demeti verilir gibi sunulacaktır sizlere.</p>
            </div>
            <br />
            <div class="col-md-4">
                <h4>AİLEM İÇİN..</h4>
                <p>Bir insanın hayattaki en değerli varlığı ailesidir. Ailemiz bizi var eden, hayatımız boyunca her zaman yanımızda bulunacak olan kişilerden oluşur. aile bireylerimiz yanımızda olmadan ne yaşadığımız mutluluk anlam kazanır ne de başımıza gelen kötü olayları kolaylıkla çözümleyebiliriz. Yanımızda birinin olmasına ihtiyacımız olan her anda yardımımıza ilk önce aile bireylerimiz koşar.Ailemize her zaman her şeyden daha fazla önem vermeliyiz. Çünkü aile bağı diğer hiçbir bağa benzememektedir. Aile fertlerimizle daima iyi ilişkiler içinde bulunmalı onlara sürekli sevgi ve saygı göstermeliyiz. Mutluluğun temel yolu mutlu bir aileden geçer. Bunu unutmadan ailemize gereken değeri vermeliyiz. Çünkü biz de ailenin bir ferdi olduğumuza göre aile mutluluğu için biz de üzerimize düşen görevi yerine getirmeliyiz.</p>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; @DateTime.Now.Year - BİR TEK ANNEM OLSUN...</p>
    </div>
</body>
</html>

