﻿
@{
    ViewBag.Title = "psıkologlar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Psikologlar</title>
  <style>
      .psikolog
      {
          text-align :center;
      }
      .col-md-8
      {
          padding: 25px;
          border: 20px;
          background-color:#CCFF99;
          color:black;
          text-align:center;
          font-family:Cambria;
          font-size:25px;
          float:right;
          width: 1000px;
      }
  </style>
</head>
<body>
    <h1>--------------------------------------------------------------------------------------</h1>
    <center>
        <img src="/WebImage/cocuk" />
    </center>
    <h1>---------------------------------------------------------------------------------------</h1>
    <br />
    <br />
    <br />
    <br />
    <div class="psikolog">
        <h1>PSİKOLOGLAR</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <img src="/WebImage/psıkolog" />

            <div class="col-md-8">
                <b>Fatma KIRIMLI TAŞKIN</b><br />
                --Aile Dnş.Çift-ErgenTerapisti<br />
                --Pedagog<br />
                --Çocuk Gelişimi<br />
                --Çocuk Psikolojisi Terapisti<br />
                @Html.ActionLink("iletişim", "https://www.doktortakvimi.com/fatma-kirimli-taskin/psikoloji-pedagoji-aile-terapisi/ankara")
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <img src="/WebImage/psıkolog2" />

            <div class="col-md-8">
                <b>Pınar ERSÖZ</b><br />
               -- Psikolog <br />
               -- Aile Danışmanı<br />
               -- EMDR Terapisti<br />
                @Html.ActionLink("iletişim", "https://www.doktortakvimi.com/pinar-ersoz/psikoloji/konak")
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-md-4">
            <img src="/WebImage/psıkolog1" />

            <div class="col-md-8">
                <b>Dr.Murat SARISOY</b><br />
                -- Psikolog Dr.<br />
                -- Uzman Klinik Psikolog<br />
                 --Çocuk, Ergen, Bireysel Sorunlar, Evlilik Ve Çift Terapisti<br />
                @Html.ActionLink("iletişim", "https://www.doktortakvimi.com/murat-sarisoy/psikoloji-aile-terapisi-pedagoji/izmir")
            </div>
        </div>
    </div>

</body>
</html>

