﻿@model webprogramlamaodevi.Models.uyeol

@{
    ViewBag.Title = "uyeekle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html>
<head>
    <title>Uye Ol</title>
</head>
<body>

    <h2>UYE OL</h2>
    @using (Html.BeginForm())
    {
        <p>AD: @(Html.TextBoxFor(X => X.Ad))</p>
        <p>SOYAD: @(Html.TextBoxFor(X => X.Soyad))</p>
        <p>
            CİNSİYET: @Html.DropDownList("cinsiyet",
        new[] {
                new SelectListItem
                {
                    Text="Kadın"
                }    ,
                new SelectListItem
                {
                    Text="Erkek"
}
})
        </p>

        <p>EPOSTA:@(Html.TextBoxFor(X => X.Eposta))</p>
        <p>ŞİFRE: @(Html.TextBoxFor(X => X.Sifre))</p>

        <input type="submit" value="KAYIT OL" />
    }
</body>
</html>



    

