﻿
@{
    Layout = null;
}



<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>LAYOUT</title>
    <style>
    .baslık
    {
        height:120px;
        background-color:#CCFFFF;
        color:#666699;
        font-family:Harrington;
        font-size:75px;
        text-align:center;
    }
    .menu
    {
        float:left;
        width:200px;
        height:460px;
        background-color:#FFFFCC;
        color:black;
        font-size:20px;
        padding-top:100px;
    }
    .etkinlik{
        float:right;
        width:200px;
        height:460px;
        background-color:#FFFFCC;
        color:black; 
        font-size:20px;
        padding-top:100px;
    }
    .etkinlik1
    {
        clear:both;
    }
    .dil
    {
        float:right;
        font-size:20px;
        color:red;
        font-family:Algerian;
    }
     
 </style>
</head>
<body>

    <div class="baslık">
        <h3><b>ANNEMCE</b></h3>
        <div class=" dil">
            @Html.ActionLink("tr", "İndex", new {lang="tr"  })
            @Html.ActionLink("en", "İndex", new { lang = "en" })
        </div>
    </div>

                <div class="menu">
                    <ul>
                        <li>  @Html.ActionLink("ÜYE OL", "uyeekle", "Home")</li>
                        <li>  @Html.ActionLink("GİRİŞ", "girisyap", "Home")</li>
                        <li>  @Html.ActionLink("ANASAYFA", "Index", "Home")</li>
                        <li>  @Html.ActionLink("ANNEME", "Anneme", "Home")</li>
                        <li>  @Html.ActionLink("ÇOCUĞUMA", "Çocuğuma", "Home")</li>
                        <li>  @Html.ActionLink("PSİKOLOGLAR", "psıkologlar", "Home")</li>
                        <li>  @Html.ActionLink("NİNNİLER", "Index", "Home")</li>
                    </ul>
        
    </div>
    <div class="etkinlik ">
        <div class="etkinlik1"></div>

       <h4>ANNELER GÜNÜ</h4>
        <p>***Anneler gününe özel etkinliğimize tüm annelerimiz davetlidir.</p>
        <h4>ÇOÇUK ŞENLİĞİ</h4>
        <p>***Tüm çocuklar kırlara etkinliğimize tüm çocuklarımızı bekliyoruz.</p>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>
   
        
        @*@Scripts.Render("~/bundles/jquery")
            @Scripts.Render("~/bundles/bootstrap")
            @RenderSection("scripts", required: false)*@
</body>
</html>


